<%- include("../partials/header") %>

<div class="text-center">
    <h1>Congratulations!</h1>
    <br>
    <p>You completed all of the levels in
        <% if (hours !== 0) { %><%- hours %> hours
        <% } if (minutes !== 0) { %><%- minutes %> minutes and
        <% } if (seconds !== 0) { %><%- seconds %> seconds<% } %>,
        good job. If that was too easy, you have also just unlocked our challenges.</p>
    <p>Go back through the levels to find the hidden instructions in the first three, the level will turn blue if you
        succeed.</p>
    <p>Your time has been anonymously saved to the leaderboard, if you wish to display your username on the leaderboard enter it below.</p>
    <%- include("../partials/answerForm") %>
</div>

<%- include("../partials/footer") %>