<%- include("../partials/header") %>

<br>
<h1 class="text-center">Welcome to Treasure Hunt Leader Board!</h1>
<br>
<div class="row justify-content-center">
    <div class="w-50">
        <table class="table table-responsive">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Time</th>
            </tr>
            </thead>
            <tbody>
            <% for (let time of times) {
                let date = new Date(time.time)
            %>
            <tr>
                <th scope="row"><%- times.indexOf(time) + 1 %></th>
                <td><%- time.username %></td>
                <td><%- date.getUTCHours() > 9 ? date.getUTCHours() : `0${date.getUTCHours()}` %>:<%- date.getUTCMinutes() > 9 ? date.getUTCMinutes() : `0${date.getUTCMinutes()}` %>:<%- date.getUTCSeconds() > 9 ? date.getUTCSeconds() : `0${date.getUTCSeconds()}` %></td>
            </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</div>
<%- include("../partials/footer") %>